speechrecognition
Translator
gTTS
playsound
PyPDF2
speedtest
webbrowser
twilio
time
os
Image
subprocesses
pyautogui
pyttsx3
pywikihow
datetime
winsound
wikipidia
pywhatkit
cv2
requests
weathercom
json
requests
wolframalpha
pyjokes
smtplib
pandas
sklearn
psutil
sys
PyQT5
gui
random
math